---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Peter Ebraheem | Portfolio</title>
	</head>
	<body class="bg-zinc-950 text-white flex items-center justify-center h-screen">
		
		<div class="text-center">
			<h1 class="text-5xl font-bold tracking-tight mb-4">We are ready to build.</h1>
			<p class="text-zinc-400">Tailwind CSS is officially active.</p>
		</div>

	</body>
</html>